header {
  background-color: #2563eb;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 16px;
}
header h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

section {
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.info-title {
  font-size: 25px;
  font-weight: 600;
}

.infop {
  background-color: white;
  width: 350px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-grup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-grup label {
  font-size: 18px;
  color: gray;
}
.form-grup input {
  width: 100%;
  border: 2px solid lightgray;
  padding-inline: 6px;
  border-radius: 6px;
  padding-block: 8px;
}

.confi {
  width: 350px;
  background-color: white;
  border-radius: 16px;
  font-size: 18px;
  gap: 8px;
  padding: 10px;
}

.confi-acessi label {
  font-size: 18px;
  color: gray;
}

.button-att {
  width: 250px;
  font-size: 20px;
  height: 50px;
  border-radius: 16px;
  color: #0f172a;
  background-color: #4285f4;
  cursor: pointer;
  border: none;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4285f4;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.confi-idioma {
  background-color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 350px;
}

.confi-idioma select {
  font-size: 16px;
  padding: 6px;
  border-radius: 8px;
  border: 2px solid #cbd5e1;
}

.text {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 28px;
  align-items: center;
}
.confi-notif {
  font-size: 18px;
  width: 350px;
  background-color: white;
  border-radius: 16px;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.texto-confi {
  display: flex;
  padding-top: 8px;
  justify-content: space-between;
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noti {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.icon {
  padding-top: 8px;
  width: 36px;
  height: auto;
}

.checkbox {
  padding-right: 25px;
  padding-top: 20px;
}

.acessi {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.foto-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  text-align: center;
}

.foto-user img {
  object-fit: fill;
  height: 100%;
}
