#cabecalho{
    color: #ffffff;
    background-color: #2563EB;
    padding-bottom: 14px;
    margin-bottom: 30px;
}

#cabecalho h2{
    padding-top: 7px;
    margin-left: 30px;
}

#cabecalho p{
    margin-left: 30px;
}

.corrida{
    width: 80%;
    margin: 0 auto 25px;
    background-color: #ffffff;
    padding: 15px; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

hr{
    display: flex;
    opacity: 20%;
    box-sizing: border-box;
    width: 95%;
    align-items: center;
    margin: 10px auto;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img{
    width: 14px;
    height: auto;
}

.conclusaoCorrida{
    background-color: #d4f8d4;
    color: #137a13;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.horario{
    display: flex;
    align-items: center;
    gap: 5px;
}

.informacoes{
    display: flex;
    flex-direction: column;
}

.cabecalhoRota{
    display: flex;
    align-items: center;
    gap: 5px;   
}

.rota{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.rota img{
    width: 14px;
    height: auto;
}

.rotaDirigida{
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.infoMotorista{
    width: auto;
    margin: 20px auto;
    display: flex;
    background-color: #EFF6FF;
    border-radius: 10px;
    padding: 20px;
}

.dadosMotorista{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.dadosVeiculo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dadosVeiculo img{
    height: 14px;
    width: 28px;
    opacity: 80%;
}

.iconeMotorista img{
    height: 50px;
    width: auto;
}

.idMotorista{
    display: flex;
    margin: 0px auto;
    background-color: #f8f4d1;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid #fff085;
}

.idMotorista span{
    font-size: 12px;
    color: #894b00;
}

