header {
    background-color: #2563EB;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.title {
    color: #CBD5E1;
}


.conta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E40AF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #CBD5E1;
    color: #CBD5E1;


}

.Buscar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.retorno {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #0F172A;

}

.seta {
    width: 15px;
    height: 15px;
}

.subtitle {
    display: flex;
    margin: 1rem;

}

.container {
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 20px;
}

.dados {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    padding: 12px;
    justify-content: space-between;
    border: 3px solid #1E40AF;
    border-radius: 15%;
    box-shadow: 8px 5px 10px #1E40AF;
    transition-duration: 0.5s;


}

.dados:hover {
    transform: translateY(-12px);
}

.geralinforma {
    display: flex;
    align-items: center;
    width: auto;
    background-color: #CBD5E1;
    border-radius: 5%;

}

.fotouser {
    display: flex;
    height: 70px;
    margin: 1rem;

}

.informa {
    display: flex;
    flex-direction: column;
    line-height: 130%;
    margin: 1rem;

}

.select {
    background-color: #CBD5E1;
    cursor: pointer;
    border-radius: 20%;
    width: 110px;


}




/* 
#2563EB → Primária (botões, ícones ativos, marca principal)
#1E40AF → Secundária (hover, foco, estados ativos)
#EFF6FF → Fundo (background geral, cards, áreas claras)
#0F172A → Texto (principal, títulos, contraste alto)
#3B82F6 → Acento (links, detalhes chamativos, highlights)
#CBD5E1 → Neutra (bordas, divisórias, elementos sutis)
 */