header {
  background-color: #2563eb;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header h1 {
  font-size: 20px;
  font-weight: 500;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header a {
  background-color: white;
  padding: 4px 8px;
  border-radius: 100%;
}

.user-icon {
  color: black;
  width: 20px;
}

.search-container {
  position: relative;
  background-color: white;
  display: flex;    
  align-items: center;
  border-radius: 4px;
}

.search-icon {
  color: black;
  position: absolute;
  left: 4px;
}

.search-container input {
  border: none;
  width: 100%;
  height: 32px;
  padding-left: 32px;
  border-radius: 4px;
}

.search-container input:focus {
  outline: none;
}

.retorno {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: #0f172a;
}

.seta {
  width: 15px;
  height: 15px;
}

.subtitle {
  display: flex;
  margin: 1rem;
}

.container {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 20px;
}

.dados {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  padding: 12px;
  justify-content: space-between;
  border: 3px solid #1e40af;
  border-radius: 15%;
  box-shadow: 8px 5px 10px #1e40af;
  transition-duration: 0.5s;
}

.dados:hover {
  transform: translateY(-12px);
}

.geralinforma {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #cbd5e1;
  border-radius: 5%;
}

.fotouser {
  display: flex;
  height: 70px;
  margin: 1rem;
}

.informa {
  display: flex;
  flex-direction: column;
  line-height: 130%;
  margin: 1rem;
}

.select {
  background-color: #cbd5e1;
  cursor: pointer;
  border-radius: 20%;
  width: 110px;
}

/* 
#2563EB → Primária (botões, ícones ativos, marca principal)
#1E40AF → Secundária (hover, foco, estados ativos)
#EFF6FF → Fundo (background geral, cards, áreas claras)
#0F172A → Texto (principal, títulos, contraste alto)
#3B82F6 → Acento (links, detalhes chamativos, highlights)
#CBD5E1 → Neutra (bordas, divisórias, elementos sutis)
 */
