/* #2563EB → Primária (botões, ícones ativos, marca principal)
#1E40AF → Secundária (hover, foco, estados ativos)
#EFF6FF → Fundo (background geral, cards, áreas claras)
#0F172A → Texto (principal, títulos, contraste alto)
#3B82F6 → Acento (links, detalhes chamativos, highlights)
#CBD5E1 → Neutra (bordas, divisórias, elementos sutis) */

header {
  background-color: #2563eb;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header h1 {
  font-size: 20px;
  font-weight: 500;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header a {
  background-color: white;
  padding: 4px 8px;
  border-radius: 100%;
}

.user-icon {
  color: black;
  width: 20px;
}

.search-container {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.search-icon {
  color: black;
  position: absolute;
  left: 4px;
}

.search-container input {
  border: none;
  width: 100%;
  height: 32px;
  padding-left: 32px;
  border-radius: 4px;
}

.search-container input:focus {
  outline: none;
}

main {
  min-height: calc(100vh - 212px);
}

#map {
  background-color: #cbd5e1;
  height: 150px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map div {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

.recent-carousels {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  overflow-x: auto;
}

.recent-carousels div {
  flex-shrink: 0;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #cbd5e1;
  padding: 4px;
  border-radius: 4px;
}

.pin-icon {
  width: 16px;
  color: #cbd5e1;
}

.favorite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-header button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #3b82f6;
  cursor: pointer;
}

.plus-icon {
  width: 16px;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.favorite-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.favorite-card:hover {
  border-color: #2563eb;
}

.favorite-card button {
  background-color: #cbd5e1;
  border: none;
  border-radius: 100%;
  padding: 4px 6px;
}

.star-icon {
  width: 20px;
  color: #2563eb;
}

.arrow-icon {
  width: 18px;
  color: #3b82f6;
}
