#Mensagem {
    background-color: #2563EB;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.chats {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px);
    padding: 16px;
    gap: 16px;
}

.chat {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #2563EB;
    gap: 5px;
}

.test {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 12px;
}

.nome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hora {
    padding: 3px;
    border-radius: 50px;
}

.Imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.Imagem img {
    margin: px;
    width: 60px;
    height: 60px;
}

#notificacoes {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 106);
    color: white;
    margin-top: -40px;
    margin-left: 40px;
    width: 2%;
    height: 7px;
    padding: 10px;
    border: 10px;
    border-radius: 100%;
}

.pin {
    width: 100%;
    display: flex;
    align-items: center;
}

.pin img {
    margin: 3px;
    width: 9px;
    height: 12px;
}


/* #hora {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-left: 380px;
    border: 15px;
    background-color: aqua;
    padding: 3px;
    border-radius: 50px;
} */





/* 
#2563EB → Primária (botões, ícones ativos, marca principal)
#1E40AF → Secundária (hover, foco, estados ativos)
#EFF6FF → Fundo (background geral, cards, áreas claras)
#0F172A → Texto (principal, títulos, contraste alto)
#3B82F6 → Acento (links, detalhes chamativos, highlights)
#CBD5E1 → Neutra (bordas, divisórias, elementos sutis) */