.header {
    display: flex;
    flex-direction: column;
    background-color: #2563EB;
    padding-block: 20px;
    padding-inline: 10px;
    color: white;
    gap: 20px;
}

.return {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    background-color: #4d75ca;
    color: white;
    transition-duration: 0.4s;
}

.return:hover {
    background-color: rgb(107, 131, 211);
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo img {
    width: 60px;
    border: 2px solid white;
    border-radius: 100%;

}

.pinDestino {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 7px
}

.pinIcon {
    height: 16px;
}

/*------------------------------------------------------------------------------------------*/

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #0F172A;
    height: calc(100vh - 206px);
    padding: 16px;
    gap: 16px;
}

.mesagensMot p {
    background-color: rgb(206, 206, 206);
    text-align: left;
    width: 100%;
    border-radius: 25px;
    padding: 16px;
}

.mesagensEstu p {
    background-color: #2563EB;
    color: white;
    text-align: left;
    border-radius: 25px;
    padding: 16px;
}

.mesagensEstu span {
    text-align: right;
}

.bate-papo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.mesagensMot {
    display: flex;
    width: 300px;
    gap: 10px;
}

.mesagensEstu {
    display: flex;
    width: 300px;
    margin-left: 100%;
    transform: translateX(-100%);
    gap: 10px;
}

#icones {
    width: 32px;
    border-radius: 100%;
    border: 3px solid #2563EB;
}

/*------------------------------------------------------------------------------------------*/

.button {
    background-color: #1E40AF;
    color: #0F172A;
    height: 70px;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    gap: 16px;
}

#input {
    width: 100%;
    height: 42px;
    border: none;
    padding-inline: 16px;
    border-radius: 12px;
}

#input:focus {
    outline: none;
}

#send {
    background-color: rgb(113, 161, 194);
    border: none;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: 0.6s
}

#send:hover {
    background-color: rgb(162, 204, 231);
}

/*
#2563EB → Primária (botões, ícones ativos, marca principal)
#1E40AF → Secundária (hover, foco, estados ativos)
#EFF6FF → Fundo (background geral, cards, áreas claras)
#0F172A → Texto (principal, títulos, contraste alto)
#3B82F6 → Acento (links, detalhes chamativos, highlights)
#CBD5E1 → Neutra (bordas, divisórias, elementos sutis) */